* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	height: 350vh;
}

.content {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 5% 95%;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: none;
}

.card h1 {
	font-size: 21px;
	font-weight: bold;
}

.card small {
	font-size: 7px;
}

.content .box {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(9, 1fr);
	gap: 5px;
}

.box .area img {
	width: 100%;
	height: 100%;
}

.area:nth-child(3) {
	grid-row-start: span 2;
}

.area:nth-child(7) {
	grid-row-start: span 2;
}

@media screen and (min-width: 425px) {
	.container {
		height: 150vh;
	}

	.content .box {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
	}
}

@media screen and (min-width: 768px) {
	.container {
		height: 200vh;
	}

	.content .box {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
		gap: 10px;
	}

	.area:nth-child(7) {
		grid-row-start: 1;
	}
}

@media screen and (min-width: 1024px) {
	.container {
		padding: 20px 0;
		height: 100vh;
	}

	.content {
		grid-template-rows: 10% 90%;
	}

	.content .box {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 33%);
	}

	.card h1 {
		font-size: 32px;
	}

	.card small {
		font-size: 10px;
	}

	.area img {
		width: 100%;
		height: 100%;
	}

	.area:nth-child(3) {
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 3;
	}

	.area:nth-child(6) {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 4;
	}
}
